body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 2px;
    background-color: #e0e5ec;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #c3c7cf, 5px -5px 2px #ffffff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"],
button,
a {
    width: calc(100% - 40px);
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #e0e5ec;
    color: #333;
    box-shadow: inset 5px 5px 10px #c3c7cf, inset -5px -5px 10px #ffffff;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]:hover,
input[type="text"]:hover,
button:hover,
a:hover {
    background-color: #d1d9e6;
}

button {
    background-color: #e0e5ec;
    box-shadow: 5px 5px 10px #c3c7cf, -5px -5px 10px #ffffff;
}

button:disabled {
    background-color: #c3c7cf;
    color: #666;
}

button.glow-on-hover {
    background: linear-gradient(145deg, #007bff, #0056b3);
    color: #fff;
    box-shadow: 5px 5px 10px #a1a7ae, -5px -5px 10px #ffffff;
}

.removeRecipientButton {
    background-color: #ff4d4d;
    box-shadow: 5px 5px 10px #b33838, -5px -5px 10px #ff6666;
}

.removeRecipientButton:hover {
    background-color: #cc0000;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

#profileContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0E5EC;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 9px 9px 16px #A3B1C6, -9px -9px 16px #FFFFFF;
}
#socialProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#socialProfile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#socialProfile span {
    margin-top: 5px;
    font-size: 12px;
    color: #555;
}


#result {
    margin-top: 20px;
    color: #333;
}
.profile-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-name {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
